* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #F2F5F9;
    --blue: #3662E3;
    --black:#111729;
    --blue2: #364153;
    --grey: #4e80ee33;
}

section, main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    height: 100vh;
    background-color: var(--black);
}

main > img {
    position: fixed;
    right: 10%;
}

section {
    gap: 30px;
}

fieldset {
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid var(--blue);
    background: transparent;
    width: 500px;
}

input, button {
    border: none;
    outline: none;
    width: 100%;
}

input {
    background-color: transparent;
    padding: 0 10px;
    color: var(--blue);
}

input::placeholder {
    color: var(--blue);
}

button {
    background-color: var(--blue);
    border-radius: 8px;
    padding: 5px 15px;
    color: var(--white);
    font-weight: bold;
    max-width: 100px;
}