* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #F2F5F9;
    --blue: #3662E3;
    --black: #111729;
    --blue2: #364153;
    --grey: #4e80ee33;
}

section, main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    height: 100vh;
    background-color: var(--black);
    padding: 20px;
}

main > img {
    position: fixed;
    right: 10%;
    z-index: -1;
}

section {
    gap: 30px;
    width: 100%; 
    display: flex;
    justify-content: center; 
}

.form {
    border-radius: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid var(--blue);
    background: transparent;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box; 
}

input, button {
    border: none;
    outline: none;
    width: 100%;
}

input {
    background-color: transparent;
    padding: 0 10px;
    color: var(--blue);
}

input::placeholder {
    color: var(--blue);
}

button {
    background-color: var(--blue);
    border-radius: 8px;
    padding: 5px 15px;
    color: var(--white);
    font-weight: bold;
    max-width: 130px;
}

button:hover {
    transition: .5s ease-in-out;
    background-color: var(--blue2);
}

.qrcode {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#qrcode {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

.section-hide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.qrcode-show {
    display: flex;
    opacity: 1;
}

.qrcode-form {
    display: flex;
    justify-content: center;
    border: none;
    gap: 10px;
}

.qrcode-form button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 120px;
}

.logo-top {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
}
